// TYPEFACE //
$primaryFont:'Oswald', sans-serif;
$secondaryFont:'Open Sans', sans-serif;

//FONT SIZE//
$h1FontSize: 45px;
$h2FontSize: 25px;
$h3FontSize: 20px;
$primaryFontSize: 16px;
$secondaryFontSize: 13px;


//COLOR//
$primaryColor: #fff800;
$secondaryColor: #1e1e1e; //darker charcoal//
$tertiaryColor: #2d2d2d; //lighter charcoal//
$lightGreyColor: #f9f9f9;
$popUpBackgroundColor: rgba(30,30,30,0.8);

// BORDERS //
$borderRadius: 5px;

